.hi-tpl-wrap{
	display: block;
	position: relative;
	line-height: 0;
  clear: both;
}
.hi-tpl-wrap.inline{
  float: left;
  clear: none;
}

.hi-tpl{
	display: inline-block;
	position: relative;
}

.hi-tpl * {
	box-sizing: border-box;
}

.hi-tpl a,
.hi-tpl a:hover,
.hi-tpl a:focus{
	border-bottom: none;
}

.hi-tpl img{
	display: block;
}



.hi-text-left           { text-align: left; }
.hi-text-right          { text-align: right; }
.hi-text-center         { text-align: center; }

/* overlay */
.hi-overlay{
	position:   absolute;
	width:      100%;
	height:     100%;
	top:        0;
	bottom:     0;
	left:       0;
	right:      0;
}

/* buttons */
.hi-tpl-buttons-wrap{
	position:   absolute;
	width:      100%;
	height:     100%;
	text-align: center;
	top:        0;
	left:       0;
}
.hi-tpl-buttons{
	position:   absolute;
	width:      100%;
	text-align: center;
	top:        50%;
	margin-top: -16px;
}
.hi-tpl-buttons a{
	text-decoration: none;
	font-size:       28px;
	color:           #fff;
	margin:          0 14px;
	width:           28px;
	height:          28px;
	display: inline-block;
	opacity: 0.8;
	text-decoration: none !important;
}

.hi-b-simple .hi-tpl-buttons a{
	margin:          0 36px;
	text-decoration: none !important;
}


.hi-tpl-buttons a:focus,
.hi-tpl-buttons a:hover{
  	outline: none;
	opacity: 1;
	text-decoration: none !important;
}
/* content */
.hi-tpl .hi-tpl-content-wrap{
	position:   absolute;
	width:      100%;
	height:     100%;
	top:        0;
	bottom:     0;
	left:       0;
	right:      0;
}
.hi-tpl .hi-tpl-content{
	padding:    20px;
	background: rgba(0, 0, 0, 0.72);
	color:      rgba(255, 255, 255, 0.8);
	height:     100%;
	overflow: hidden;
}
.hi-content-title{
	display: block;
	word-wrap: break-word;
}
.hi-tpl .hi-content-title,
.hi-tpl .hi-content-excerpt,
.hi-tpl .hi-content-categories,
.hi-tpl .hi-content-share{
	margin: 0 0 10px 0;
	padding: 0;
    overflow: hidden;
}
.hi-content-categories a{
	display: inline-block;
}

.hi-content a,
.hi-content a:hover,
.hi-content a:focus{
	text-decoration: none;
	color:           inherit;
}

.hi-content-share a{
	display:   inline-block;
	font-size: 14px;
	padding:   9px;
	margin:    2px;
	text-decoration: none !important;
	transition:         all .4s ease 0s;
}

.hi-tpl-sicons{
	text-decoration: none;
}

.hi-content-share a:hover{
	color: #fff !important;
	text-decoration: none;
}

body a[class^="hi-ff-"], body a[class*=" hi-ff-"],
body i[class^="hi-ff-"], body i[class*=" hi-ff-"]
{
  font-family: 'hi-font-front' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 800px) {
  .hi-tpl-wrap{
	width: auto !important;
	height: auto !important;
  }
}

